*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 60% 20%;
}

.nav-bar {
    margin: 0;
    width: auto;
    height: 50px;
    padding: 10px;
    grid-column: 1 / 4; 
    justify-self: end;
}

.nav-bar a{
    padding: 10px;
}

.search {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
}

.footer {
    background: #f2f2f2;
    grid-area: 3 / 1 / 4 / 4;
}

.user-pfp {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

a {
    color: #222;
    text-decoration: none;
}

#search-bar {
    border-radius: 50px;
    padding: 12px;
    width: 100%;
    grid-area: 1 / 4;
}

input#search-bar {
    border: 1px solid lightgrey;
}

input#search-bar:focus {
    outline: none;
}